body{
    background: #1A1524;
}
.Yer
{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-size: 100% 100%;
        animation: spin 10s linear infinite;
        transform-style: preserve-3d;
        transform: rotateY(90deg);
        transition: all;
        
    }

    @keyframes spin {
        from {
            transform: rotateY(0deg);
        }

        to {
            transform: rotateY(360deg);
        }
    }